#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define L0  0
#define L1  1
#define L2  2
#define L3  3
#define TFT 4

&mt {
    flavor = "tap-preferred";
    tapping-term-ms = <200>;
};

&lt {
    tapping-term-ms = <200>;
    quick-tap-ms = <175>;
    flavor = "tap-preferred";
};

/ {    
    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    behaviors {
        hml: homerow_mod_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HOME_ROW_MOD";
            display-name = "HRM-Left";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <125>;
            tapping-term-ms = <280>;
            quick_tap_ms = <175>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 39 40 41>;
            hold-trigger-on-release;
        };
        hmr: homerow_mod_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HOME_ROW_MOD";
            display-name = "HRM-Right";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <125>;
            tapping-term-ms = <280>;
            quick_tap_ms = <175>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38>;
            hold-trigger-on-release;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        l0 {
            display-name = "L0";
            bindings = <
                &kp TAB   &kp  Q      &kp W       &kp  E        &kp  R       &kp T     &kp Y   &kp  U       &kp  I        &kp  O      &kp  P         &kp BSLH
                &kp LCTRL &hml LGUI A &hml LALT S &hml LSHIFT D &hml LCTRL F &kp G     &kp H   &hmr LCTRL J &hmr LSHIFT K &hmr LALT L &hmr LGUI SEMI &kp SQT
                &kp LSHFT &kp  Z      &kp X       &kp  C        &kp  V       &kp B     &kp N   &kp  M       &kp  COMMA    &kp  DOT    &kp  FSLH      &kp ESC
                                                  &kp  LALT     &mo  1       &kp SPACE &kp RET &lt  2 BSPC  &caps_word
            >;
        };

        l1 {
            display-name = "L1";
            bindings = <
                &kp GRAVE &none          &kp AT &kp HASH &kp DLLR  &none    &none    &none     &none  &none     &none    &kp PSCRN
                &kp CAPS  &none          &none  &none    &none     &kp PIPE &kp LEFT &kp DOWN  &kp UP &kp RIGHT &kp HOME &kp PG_UP
                &kp LSHFT &studio_unlock &none  &none    &none     &none    &kp N0   &kp UNDER &none  &kp DLLR  &kp END  &kp PG_DN
                                         &none  &trans   &kp SPACE &kp RET  &trans   &kp DEL
            >;
        };

        l2 {
            display-name = "L2";
            bindings = <
                &kp TILDE &kp EXCL &kp N7 &kp N8   &kp N9 &kp PRCNT &kp STAR   &kp AMPS  &kp LPAR &kp RPAR &kp CARET &kp PSCRN
                &none     &none    &kp N4 &kp N5   &kp N6 &none     &kp MINUS  &kp EQUAL &kp LBKT &kp RBKT &kp BSLH  &kp GRAVE
                &none     &kp N0   &kp N1 &kp N2   &kp N3 &none     &kp UNDER  &kp PLUS  &kp LBRC &kp RBRC &kp PIPE  &kp TILDE
                                          &kp LGUI &trans &kp SPACE &kp RET    &trans    &kp DEL
            >;
        };

        l3 {
            display-name = "L3";
            bindings = <
                &to 4 &none &kp F7 &kp F8 &kp F9  &kp F12   &kp C_VOL_DN &kp C_MUTE   &kp C_VOL_UP &none        &none        &none
                &none &none &kp F4 &kp F5 &kp F6  &kp F11   &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &bt BT_CLR
                &none &none &kp F1 &kp F2 &kp F3  &kp F10   &none        &none        &none        &none        &none        &none
                                   &none  &trans  &kp SPACE &kp RET      &trans       &kp RALT
            >;
        };

        tft {
            display-name = "TFT";
            bindings = <
                &none &none &kp N1 &kp N2 &kp N3 &kp N4 &none   &none  &none &none &none &none
                &none &none &kp W  &kp D  &kp F  &kp T  &none   &none  &none &none &none &none
                &none &none &none  &none  &none  &none  &none   &none  &none &none &none &none
                                   &to 0  &kp N1 &kp N2 &kp RET &kp N3 &none
            >;
        };
    };
};
